<div id="all-burgers">
    {{> burgers/all}}
</div>

<h2>Order a Burger</h2>
<form class="create-form" action="/">
  <div class="form-group">
    <label>Burger Name:</label>
    <input type="text" id="burger-name" name="name">
  </div>

  <button type="submit">Place Order</button>
</form>

